# IDE files
.idea/
*.iml
.DS_Store
*.iws
/out/
.idea_modules/
.vs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tgz
.yarn-integrity
.npm
.eslintcache
.node_repl_history
jspm_packages/

# Logs
logs
*.log

# Process IDs
pids
*.pid
*.seed
*.pid.lock

# Code coverage
lib-cov
coverage
.nyc_output
.grunt
bower_components
.lock-wscript
build/Release
typings/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
local.settings.json

# .NET/Azure Functions specific
bin/
obj/
dist/
publish/
TestResults/
.dotnet/
.nuget/
project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json

# Azure Functions Localsettings
local.settings.json

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# CSS/SASS
.sass-cache/
*.css.map

# Build outputs
scripts.min.js
styles.min.css

# MSBuild Binary and Structured Log
*.binlog

# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/