// Layout variables partial

$section-padding: 40px 0;

section.nochfragen, section.features-extra, section.addresses {
	background: $section-light;
}
section.features, section.events, section.blog, section.fragen, section.rsvp {
	background: $section-dark;
}